<div class="form-container">
  <form [formGroup]="form" novalidate (ngSubmit)="submitHandler(form.value.text)">
    <div class="form-content">
      <div>
        <input type="text" formControlName="text" placeholder="New Task">
        <div class="error">
          <span *ngIf="form.controls['text'].hasError('required')">Minimal text is <strong>required</strong></span>
          <span *ngIf="form.get('text')?.errors && form.get('text')?.errors['nameTaken']">😢 Oh noes, this task is
            already exists!</span>
        </div>
      </div>
      <button type="submit" [disabled]="!form.valid">Add Task</button>
    </div>
  </form>
</div>